.global-header {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: $baseline/2;
    animation: cambia-color 10s linear infinite;
    border-bottom: 1px solid theme-color("primary");
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    background: #f0a500;
    line-height: 1.5;
}